* {
    box-sizing: border-box;
}
body {
    margin: 0px;
}

.screen {
    display: flex;
    height: 100vh;
}

.leftside {
    flex: 1;
    justify-content: center;
    align-items: center;
}

.leftside img {
    height: auto;
    max-width: 500px;

}

.rightside {
    width: 400px;
    background-color: #999;
    padding: 60px;
}

.rightside input {
    border: 1px solid steelblue;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    padding: 8px 15px;
    margin: 5px 0px;
    outline: 0;
}

.rightside .conta {
    padding: 15px;
}

.error {
    padding: 5px 8px;
    color: red;
    font-size: 8px;
    font-family: sans-serif;
    border-radius: 2px;
}