#titulo {
    background-color: red;
    background-color: rgb(0, 0, 0);
    background-color: #FF0000;
    color: rgb(255, 255, 255);
    color: rgb(red, green, blue)
/* proporção distintas vão formandos outras cores 

ordenação dos argumentos...

red, green, blue

*/

}



/*
RGB

R = red = vermelho
G = green = verde
B = blue = azul

PRETO

R = 0%
G = 0%
B = 0%

BRANCO 

R = 100%
G = 100%
B = 100%


*/