/* Organização e controle de variavel */

:root {

    --bg-color: #000;
    --bg-second: #444;
    --font-size: 25px;

}

body {
    background-color: var(--bg-color);
    font-size: var(--font-size);
}

h1 {
    color: var(--font-color, #FF1);
}


.container {
    background-color: var(--bg-second);
    color: var(--font-color);
}


@media (max-width: 450px) {
    :root {
        --font-size: 15px;
    }
}