/* tecnica do quadrado perfeito 

1/1
larguraXaltura;
300x300

proporção iguais
2/1 = 2 aspect-ratio = (600x600)
4/2 = 2

*/

@media (aspect-ratio: 2/1) {

    body {
        background-color: bisque;
    }

}


@media (min-aspect-ratio: 3/1) {

    body {
        background-color: brown;
    }

}

@media (max-aspect-ratio: 4/2) {

        body {
            background-color: greenyellow;
        }
}