header .container {
    flex-direction: row;
}

.menuMobile {
    display: none;
    width: 50px;
    height: 50px;
    /*background-color: #000;*/
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}

.mm_line {
    height: 3px;
    background-color: darkgray;
}

@media only screen and (min-width: 200px) and (max-width: 600px)  {


    header {
        height: auto;
    }

    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #FFF;
    }

    .logo {
        margin-left: 20px;
    }

    .menuMobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .banner_headline h1 {
        font-size: 32px;
        line-height: 25px;
        text-align: center;
        align-items: center;
        align-content: center;
    }

    
    .banner_headline h2 {
        font-size: 20px;
        line-height: 25px;
        text-align: center;
        margin-left: 2px;
        margin-right: 2px;
    }
    
    .banner_options {
        height: auto;
        flex-direction: column;
    }

    

    .banner_headline {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        max-width: 400px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
        background-color: #0005;
        width: auto;


    }

    .footer_menu {
        flex-direction: column;
    }
    .footer_area {
        flex-direction: column;
        padding: 20px;
    }
    .footer_copy {
        padding-left: 20px;

    }

    .footer_areaitem.borderline {
        border-top: 1px solid whitesmoke;
        border-left: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 2560px){

}