body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    height: 75px;
}


.container {
    display: flex;
    justify-content: space-between;
    width: 980px;
}


.logo{
    display: flex;
    align-items: center;
}
.pbi {
    display: flex;
    justify-content: flex-end;
    width: 100px;
    height: 50px;
    object-fit: cover;
}
.menu {
    display: flex;
    align-items: center;
}

nav ul, 
nav li {
    list-style: none;
    margin:0;
    padding:0;
}
nav ul {
    display: flex;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #003;
    font-family: arial;
/* 
#d97f04 
#f1a304
*/
}

nav .active a,
nav a:hover {
    background-color: #fcdf63;
    color: #001;
   
}

#banner {
    display: flex;
    justify-content: center;
    background-image:url('../images/linescrazt.jpg');
    background-position:center;
    background-repeat: no-repeat; 
    background-size: cover;
    background-blend-mode: luminosity;
    height: 680px;
}

.column {
    flex-direction: column;
}


.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #0005;
}


.banner_headline h1 {
    color: #FFF;
    font-size: 35px;
    font-family: Arial;
    text-shadow: 0px 1px 0px #555;
    max-width: 200px;
}

.banner_headline h2 {
    color: #FFF;
    font-size: 20px;
    text-shadow: 0px 1px 0px #555;
    margin-left: 20px;
}

.banner_options {
    /* flex: 1; */
    /* background-color: #001; */
    height: 200px;
    display: flex;

}


.banner1,
.banner2,
.banner3 {
    flex: 1;
    color: #FFF;
    padding: 20px;
}  


.banner1 {
    background-color: #999999;
    
}

.banner2 {
    background-color: #777777;
}

.banner3 {
    background-color: #555555;
}


.banner_title {
    font-size: 21px;
}


.title {
    display: flex;
    justify-content: center;
    font-size: 21px;
    font-family: Arial;
}

.hours {
    font-family: Arial;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.line {
    padding: 15px;
    border-bottom: 2px groove #d9d9d9;
}

.informations {
    font-family: Arial;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 20px;
}



.banner_options a {
    display: inline-block;
    border: 1px solid #FFF;
    padding: 5px;
    color: #FFF;
    font-size: 12px;
    text-decoration: none;

}

.banner_options a:hover {
    color: #000;
    background-color: #fcdf63;
    border: 0.5px solid #001;
}


#main {
    display: flex;
    justify-content: center;
}

#main section {
    flex: 2;
    width: 720px;
    /*background-color: brown;*/
}

#main aside {
    flex: 1;
    width: 360px;
    /*background-color: #003;*/
    /*opacity: 0.6;*/
}


.dash_title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.dash_title_text {
    color: #001;
    font-size: 21px;
    font-family: Arial;
    font-weight: bold;
}

.dash_line_title {
    width: 50px;
    height: 5px;
    background-color: #fcdf63;
    margin-top: 5px;
}

.dash_text {
    color: #001;
    font-size: medium;
    font-family: Arial;
    font-style: italic;
}

.dash_content {
    background-color: #FFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 120px;
    margin-top: 10px;
}
  
 .item {
    display: flex;
    background-color: darkgray;
    color: #fff;
 }
 
 .item1{
    height: 120px;
    width: 150px;
 }


 .item2{
    height: 120px;
    width: 150px;
 }

 .item3{
    height: 120px;
    width: 150px;
 }