body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header {
    display: flex;
    justify-content: center;
    height: 75px;
}


.container {
    display: flex;
    justify-content: space-between;
    width: 980px;
}


.logo{
    display: flex;
    align-items: center;
}
.pbi {
    display: flex;
    justify-content: flex-end;
    width: 100px;
    height: 50px;
    object-fit: cover;
}
.menu {
    display: flex;
    align-items: center;
}

nav ul, 
nav li {
    list-style: none;
    margin:0;
    padding:0;
}
nav ul {
    display: flex;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #003;
    font-family: arial;
/* 
#d97f04 
#f1a304
*/
}

nav .active a,
nav a:hover {
    background-color: #fcdf63;
    color: #001;
   
}

#banner {
    display: flex;
    justify-content: center;
    background-image:url('../images/linescrazt.jpg');
    background-position:center;
    background-repeat: no-repeat; 
    background-size: cover;
    background-blend-mode: luminosity;
    height: 680px;
}

.column {
    flex-direction: column;
}


.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #0005;
}


.banner_headline h1 {
    color: #FFF;
    font-size: 35px;
    font-family: Arial;
    text-shadow: 0px 1px 0px #555;
    max-width: 200px;
}

.banner_headline h2 {
    color: #FFF;
    font-size: 20px;
    text-shadow: 0px 1px 0px #555;
    margin-left: 20px;
}

.banner_options {
    /* flex: 1; */
    /* background-color: #001; */
    height: 200px;
    display: flex;

}


.banner1,
.banner2,
.banner3 {
    flex: 1;
    color: #FFF;
    padding: 20px;
}  


.banner1 {
    background-color: #777777;
}

.banner2 {
    background-color: #2e2e2e;
}

.banner3 {
    background-color: #555555;
}


.banner_title {
    font-size: 21px;
}


.title {
    display: flex;
    justify-content: center;
    font-size: 21px;
    font-family: Arial;
}

.hours {
    font-family: Arial;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.line {
    padding: 15px;
    border-bottom: 2px groove #d9d9d9;
}

.informations {
    font-family: Arial;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 20px;
}



.banner_options a {
    display: inline-block;
    border: 1px solid #FFF;
    padding: 5px;
    color: #FFF;
    font-size: 12px;
    text-decoration: none;

}

.banner_options a:hover {
    color: #000;
    background-color: #fcdf63;
    border: 0.5px solid #001;
}


#main {
    display: flex;
    justify-content: center;
}

#main section {
    flex: 2;
    width: 720px;
    /*background-color: brown;*/
}

#main aside {
    flex: 1;
    width: 360px;
    /*background-color: #003;*/
    /*opacity: 0.6;*/
}


.dash_title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.dash_title_text {
    color: #001;
    font-size: 21px;
    font-family: Arial;
    font-weight: bold;
}

.dash_line_title {
    width: 50px;
    height: 5px;
    background-color: #fcdf63;
    margin-top: 5px;
}

.dash_text {
    color: #001;
    font-size: medium;
    font-family: Arial;
    font-style: italic;
}

.dash_content {
    background-color: #FFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 120px;
    margin-top: 10px;
}
  
 .item {
    display: flex;
    background-color: darkgray;
    color: #fff;
 }
 
 .item1{
    height: 120px;
    width: 150px;
 }


 .item2{
    height: 120px;
    width: 150px;
 }

 .item3{
    height: 120px;
    width: 150px;
 }


 .flex {
    display: flex;
    flex-wrap: wrap;
 }

 article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
 }

 article a {
    text-decoration: none;
 }
 article .relat_content {
    display: flex;
 }

 article .relat_posted_at {
    background-color: #fcdf63;
    color: #001;
    font-size: 12px;
    font-family: Arial;
    padding: 5px;
    margin-right: 2px;
    
 }

 article .relat_comments {
    background-color: #777777;
    color: #fff;
    font-size: 12px;
    font-family: Arial;
    padding: 5px;

 }

 article .news_thumbnail {
    width: 100%;
    height: auto;
    margin-top: 30px;
 }

 article .news_title {
    color: #001;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 23px;
    font-family: Arial;
    line-height: 30px;
 }

 article .news_text {
    color: #555555;
    font-size: 14px;
    font-family: Arial;
    line-height: 20px;
    text-align: justify;
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 20px;
    
 }

footer {
    display: flex;
    justify-content: center;
    background-color: #1e1e1e;
}


.footer_menu {
    display: flex;

}


.footer_menu a {
    display: block;
    text-decoration: none;
}

.fm_1, .fm_2, .fm_3 {
     flex: 1;
     color: #FFF;
     padding: 20px;
}


.fm_1 {
    background-color: #777777;
    
}

.fm_2 {
    background-color: #2e2e2e;
}

.fm_3 {
    background-color: #555555;
}

.footer_area {
    display: flex;
}

.footer_areaitem {
    color: #FFF;
    flex: 1;
    

}

.borderline {
    border-left: 1px solid whitesmoke;
}

.flex_column {
    flex-direction: column;
}

footer .name_company, .last_post, .last_insta{
    margin-top: 30px;
    margin-bottom: 20px;
}

footer .company_title, .post_title, .insta_title {
    color: #FFF;
    font-size: 21px;
    font-family: Arial;
    font-weight: bold;
}


footer .company_line, .post_line, .insta_line {
    width: 50px;
    height: 5px;
    background-color: #fcdf63;
    margin-top: 10px;
}

footer .company_text, .post_text, .insta_text {
    color: darkgray;
    font-size: 14px;
    font-family: Arial;
    margin-top: 2px;
    margin-bottom: 2px;
}

footer .extract_title {
    color: #FFF;
    font-size: 16px;
    font-family: Arial;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

footer .extract_desc {
    color: #FFF;
    font-size: 16px;
    font-family: Arial;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer a {
    width: 100px;
    padding: 5px;
    margin: 5px;
    display: block;
    text-decoration: none;
    border: 0.5px solid #fcdf63;
    color: darkkhaki;
}

footer a:hover {
    color: #000;
    background-color: #fcdf63;
    border: 0.5px solid #001;   
}


footer .transf_title {
    color: #FFF;
    font-size: 16px;
    font-family: Arial;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

footer .transf_desc {
    color: #FFF;
    font-size: 16px;
    font-family: Arial;
    margin-top: 20px;
    margin-bottom: 20px;
}


footer .loading_title {
    color: #FFF;
    font-size: 16px;
    font-family: Arial;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

footer .loading_desc {
    color: #FFF;
    font-size: 16px;
    font-family: Arial;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer_copy {
    border-top: 1px solid #fcdf69;
    height: 30px;
    line-height: 40px;
    color: whitesmoke;
    font-size: 12px;

}


.fdate {
    color: #00ABF1;
    margin-bottom: 50px;
    font-style: italic;

}
.ftext {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 10px;
    font-style: italic;
    font-size: 14px;
    text-align: left;
    line-height: 20px;
}