@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

body {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', 'sans-serif';
    margin: 0;
}

header .line-top {
    background-color: #117050;
    height: 10px;
}


.container {
    max-width: 1140px;
    margin: auto;
}


.bar {
  background-color: #006341;
  width: 168px;
  height: 22px;   
}


.button {
    display: inline-block;
    border: 1.5px solid #454545;
    padding: 10px 30px;
    border-radius: 3px;
    color: #454545;
    text-decoration: none;
}

.button:hover {
    color: #FFF;
    background-color: #454545;
}


h1 {
    font-size: 96px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    line-height: 86px;
}

h2 {
    font-size: 35px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    line-height: 45px;
    margin: 20px 0px;
}


small {
    font-size: 10px;
    font-weight: 100;
    font-family: 'Consolas', sans-serif;
    color: #FFF;
}

p .b7web, p .nice-page {
    color: #999999;
}

.header--area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header-left img {
    height: 64px;
    width: 64px;
    background-size: cover;
    border-radius: 50%;
}

.header--search form {
    display: flex;
}

.header--search input {
    font-size: 16px;
    padding: 10px 12px;
    border: 1px solid #999999;
    outline: 0;
    width: 100%;
    max-width: 220px;
    border-radius: 5px;
}


.header--search button {
    border: 0;
    background: transparent;
    margin-left: -30px;
    cursor: pointer;

}

.header--search button img {
    width: 16px;
    height: 16px;
}


.header--menu {
    margin-top: 5px;
    margin-left: 50px;
    cursor: pointer;

}

.header---menu img {
    height: 24px;
    width: 24px;
}



.header-right {
    display: flex;
}

.header-right img {
    height: 30px;
    width: 30px;;
}


.banner {
    background-image: url('../images/bg.jpg');
    background-position: center;
    background-size: cover;
    padding-top: 92px;
    padding-bottom: 90px;

}


.banner--images {
    margin-top: 60px;
}

.banner--images img {
    width: 148px;
    height: 148px;
    border: 6px solid #117050;
    border-radius: 50%;
    margin-right: 37px;
}


.area1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area1--content {
    padding: 82px;

}


.area1--img1 {
    height: 350px;
    background-image: url('../images/f2.jpg');
    background-size: cover;
    background-position: center;
}

.area1--img2 {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    background-image: url('../images/f1.jpg');
    background-size: cover;
    background-position: center;
}


.area1--quote {
    padding-bottom: 20px;
}


.area1--text {
    padding-bottom: 32px;
}

.area2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area2--content {
    padding: 82px;

}


.area2--img1 {
    height: 450px;
    background-image: url('../images/f4.jpg');
    background-size: cover;
    background-position: center;
}

.area2--img2 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-image: url('../images/f3.jpg');
    background-size: cover;
    background-position: center;
}


.area2--text {
    padding-bottom: 27px;
}



.p--area2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    font-family: 'Opens Sans', 'sans-serif';
    color: #454545;
}


.area3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area3--content {
    padding: 180px 75px;
    background-image: url('../images/bg2.jpg');
    background-size: cover;
    background-position: left;
}

.area3--text {
    margin-bottom: 30px;
}

.area3--img1 {
    background-image: url('../images/f5.jpg');
    background-size: cover;
    background-position: center;
}


.p--area3, .p--area4  {
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    font-family: 'Opens Sans', 'sans-serif';
    color: #454545;
}


.area4 {
    display: grid;
    grid-template-columns: 380px 1fr;
    background-color: #e8e9ee;
}


.area4--content {
    padding: 200px 80px;
}


.area4--text {
    margin-bottom: 42px;
    line-height: 25.6px;
}


.area4--img1 {
    background-image: url('../images/bg3.jpg');
    background-position: left;

}


.area5 {
    background-image: url('../images/bg4.jpg');
    background-size: cover;
    background-position: center;
    height: 568px;
}



footer {
    padding: 80px;
    background-color: #333;
    color: #FFF;
    text-align: center;
    height: 120px;
}



@media (min-width: 769px) and (max-width: 1024px) {

    /* body {background-color: orange;} */

    .container {
        margin-left: 20px;
        padding: 5px;
    }

    .header--menu {
        margin-left: 30px;
        margin-right: 10px;
    }
    
}

@media (min-width: 250px) and (max-width: 768px) {

    /* body {background-color: yellow;} */

    .container {
        margin-left: 20px;
        padding: 5px;
    }

    .banner {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    h1 {
        font-size: 42px;
        line-height: 43px;
        font-family: 'Opens Sans', 'sans-serif';
    }

    h2 {
        font-size: 12px;
        line-height: 20px;
    }

    span {
        font-size: 20px;
        text-align: left;
        line-height: 10px;
        margin-right: 10px;
    }
    .header--search input{
        margin-left: 10px;
        font-size: 12px;
        padding: 8px 10px;
        border: 1px solid #999999;
        outline: 0;
        width: 100%;
        max-width: 120px;
        border-radius: 5px;        
    }
    .header--menu {
        margin-left: 15px;
        margin-right: 10px;
        margin-top: 1px;
    }


    .banner--images img {
        width: 62px;
        height: 62px;
        border: 3px solid #117050;
        border-radius: 50%;
        margin-right: 5px;
        margin-left: 8px;
    }


    .area1 {
        display: grid;
        grid-template-columns: 3fr 1fr;  
    }

    .area2 {
        display: grid;
        grid-template-columns: 8fr 1fr;  
    }

    .area3 {
        display: grid;
        grid-template-columns: 2fr 1fr;  
    }

    .area5 {
        background-image: url('../images/bg4.jpg');
        background-size: cover;
        background-position: center;
        height: 268px;
    }
    .area1--content {
        padding: 50px;
    }
    .area2--content, .area3--content {
        padding: 15px;
    }
    .area4--content {
        padding: 80px 60px;
    }

    footer {
        padding: 40px;
        background-color: #333;
        color: #FFF;
        text-align: center;
        height: 80px;
    } 
}   



