.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
}


.item {
    background-color: darkred;
    padding: 20px;
    color: #FFF;
    border-radius: 10px;
    font-size: 20px;
}


