.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.item {
    background-color: darkred;
    padding: 20px;
    color: #FFF;
    border-radius: 10px;
    font-size: 20px;
}

