.container {
    display: grid;
    grid-template-columns: repeat(8, minmax(200px, 300px));
    grid-template-rows: minmax(100px auto); 
}



.item {
    background-color: #001;
    border-radius: 10px;
    padding: 20px;
    color:0%;
    font-size: 20px;

}