.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px 30px;
}
    /* grid-column-gap: 10px;
    grid-row-gap: 10px; */

.item {
    background-color: darkred;
    padding: 20px;
    color: #FFF;
    border-radius: 10px;
    font-size: 20px;
}

