.container {
    background-color: #CCC;
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 
        "header header header header header header header header"
        "nav nav content content content content content content"
        "ad ad content content content content content content"
        "footer footer footer footer footer footer footer footer";
}



 .item {
    background-color: darkred;
    border-radius: 10px;
    padding: 20px;
    color: #FFF;
    font-size: 20px;
}



header {
    grid-area: header;
}

nav {
    grid-area: nav;
}


section {
    grid-area: content;
}

footer {
    grid-area: footer;
}

.ad {
    grid-area: ad;
}