* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    /* max-width: 1140px; */
    height: 40px;
    margin: auto;
    display: flex;
    align-items: center;
}

header {
    height: 40px;
    background-color: #FFF;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}


.menu ul,
.menu li {
    list-style: none;

}

.menu ul {
    display: flex;
    align-items: center;
}

.menu li a {
    color: rgba(0,0,0,.87);
    text-decoration: none;
    /* font-weight: 200; */
    padding-left: 12px;
    padding-right: 12px;
}

.menu li a:hover {
    text-decoration: underline solid #000;
}

.menu img {
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    object-fit: contain;
    border-radius: 50%;
    margin-top: 14px;
}

section {
    max-width: 1140px;
    max-height: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
} 

.area-header-google{
    flex: 1;
    display: flex;
    justify-content: center;
}

.area-header-google img {
    height: 200px;
    width: auto;
    padding: 25px;
    object-fit: contain;
    background-repeat: no-repeat;
}


.area-input-google{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: darkblue; */
}


.area-input-google input[type=text]{
    width: 600px;
	padding: 15px;
	margin: 2px;
	outline: 0;
	border: 1px solid #d9d9d9;
	border-radius: 30px 30px 30px 30px;
}


.area-buttons {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 20px;
}


button {
    background-color: #f3f6f4;
    width: 130px;
    height: 35px;
    margin: 5px;
    border: none;
    border-radius: 5px 5px 5px 5px;
}

button a {
    color: #000;
    text-decoration: none;
}


button:hover {
    outline: 0;
	border: 1px solid #d9d9d9;
}


.wtf {
  height: 176px;
  display: flex;
  justify-content: flex-start;   
}


footer {
    height: 92px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    background-color: #eeeeee;
    /* f3f6f4 */
} 


.area-items {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.br {
    flex: 1;
    display: flex;
    color: darkgrey;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 25px;
}

.line {
    border-bottom: 0.6px solid darkgray;
}

.items {
    flex: 1;
    display: flex;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 5px;
}


.items ul,
.items li,
.items-right ul,
.items-right li {
    list-style: none;

}

.items ul {
    display: flex;
    align-items: flex-start;
}

.items-right ul {
    display: flex;
    align-items: flex-end;

}



.items li a {
    color: darkgray;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
}


.items li a:hover {
    text-decoration: underline;
}


