* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    height: 70px;
    margin: auto;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2)
}
/* background-color: #e5e5e5; */
header 
.menu ul, 
.menu li {
    display: flex;
    list-style: none;
    text-transform: uppercase;
    padding: 8px 12px;
}

header .menu li a {
    text-decoration: none;
    color: #111;

}

header .menu li a:hover {
    text-decoration: underline;
    color: #FF2021;
}

header
.menu--contact ul,
.menu--contact li {
    display: flex;
    list-style: none;
    text-transform: uppercase;
    padding: 8px 4px;
}

header .menu--contact li a {
    text-decoration: none;
    color: #111;
}
header .menu--contact li a:hover {
    text-decoration: overline;
    color: #FF2021;
}


.area--profile {
    display: flex;
    align-items: center;
    max-width: 1440px;
    margin: auto;
}

.area--profile .content--profile {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    color: #FFF;
    background-color: #282a36;
    height: 400px;
}

.area--profile .content--profile .bar--line {
    display: flex;
    height: 12px;
    width: 280px;
    border-width: medium;
    border-left: 2px solid #FFF;
    border-bottom: 1px solid #FFF;
    background-color: #444;
    margin-top: 22px;
}
   
.area--profile .content--profile img {
    width: 280px;
    height: 280px;
    object-fit: cover;
    margin-top: 10px;
    box-shadow: 2px 1px 7px #FFF;

}

.midias--sociais {
    display: flex;
    align-items: center;
}

.midias--sociais button {
    display: flex;
    border: 1px solid #FFF;
    border-radius: 6px 6px 6px 6px;
    color: #FFF;
    background-color: #282a36;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    width: 100px;
    padding: 10px 20px;
    margin-top: 15px;
    margin-right: 40px;
    margin-left: -36px;
}

.midias--sociais button:hover {
    display: flex;
    border: 1px solid #FF2021;
    border-radius: 6px 6px 6px 6px;
    color: #FF2021;
    background-color: #282a36;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    width: 100px;
    padding: 10px 20px;
    margin-top: 15px;
    margin-right: 40px;
    margin-left: -36px;
}


.default-padding {
    color: #FFF;
    padding-top: 50px;
    padding-bottom: 50px;
}

.area--about {
    display: flex;
    align-items: center;
    max-width: 1440px;
    margin: auto;
    background-color: #444;
}

.about--title {
    font-size: 26px;
    font-weight: bold;
}

.about--desc {
    font-size: 12px;
    font-weight: 600;
    color: #ccc;
    margin-top: 10px;
    margin-bottom: 40px;
}

.about--title .about--desc {
    text-align: center;
    text-transform: uppercase;
}


.area--about .about--body {
    max-width: 1140px;
    margin: auto;
}

.about--body {
    max-width: 1140px;
    margin: auto;
}

.skills--items {
    display: flex;
}

.skill {
    flex: 3;
    text-align: center;
    padding: 10px;
    border-left: 1px solid #ccc;
}

.skills p {
    margin-top: 10px;
    font-size: 13px;
    color: #ccc;
}

