body {
	margin:0;
	padding:0;
}


.container {
	background-color: #FFF;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 75px;
}


aside .container-midias {
	background-color: #e9e9e9;
	width: 320px;
	height: 480px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-left: 5px;

}


section .container-form {
	background-color: #001;
	width: 600px;
	height: 480px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 2px;
	margin-right: 2px;
}



.form-contact {
	flex: 1;
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 180px;
	height: 280px;
}	


input[type=text], [type=email]{
	flex: 1;
	padding: 15px;
	margin: 2px;
	outline: 0;
	border: 1px solid darkgrey;
	border-left: 2px solid darkred;
	border-radius: 5px 0px 0px 5px;
}

textarea {
	flex: 4;
	height: auto;
	resize: none;
	padding: 15px;
	margin: 2px;
	outline: 0;
	border: 1px solid darkgrey;
	border-left: 2px solid darkred;
	border-radius: 5px 0px 0px 5px;
}


button[type=submit]{
	padding: 5px;
	margin: 2px;
	width: 75px;
	background-color: darkred;
	color: #FFF;
	border: 1px solid #FFF;
	border-radius: 1px 1px 1px 10px;
	margin: 5px;
}



.title-contact h3, .title-midia h3 {
	border-bottom: 2px solid darkred;
	color: #001;
	font-size: 20px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif CODE;
}


.area-maps {
	flex: 1;
	width: 100%;
	background-color: darkgray;

}

.maps {
	flex: 1;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 70%;
	margin-top: 10px;
	margin-bottom: 5px;
	background-color: #e9e9e9;
}

.map-content {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	
}

.map-address {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
}
.body-midias {
	justify-content: center;
	align-items: center;	
	width: 100%;
	height: 120px;
	background-color: #fff;
}


.title-midia {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;

}
.all-midias {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
}


ul li {
	display: inline-flex;
	text-decoration: none;
}

li a, li a:hover, li a:link, li a:visited {
	text-decoration: none;
}

 li a {
	color: darkred;
	font-family: Arial;
	font-size: 14;
}


li a:hover {
	color: #FFF;
	cursor: pointer;
}

