body {
	margin:0;
	padding:0;
	background-color: #05204d;
}

#page-tribute {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 100px;
	padding: 50px;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 1024px;
	height: 600px;
	background-color:#062861;
	opacity: 1.5px;
}


 .persons-content {
	flex: 1;
	height: 400px;
	width: 500px;
	/* background-color: yellow; */
	margin: 20px;
}

#menu-list li {
	display: inline;
	margin-left: 25px;
	margin-right: 25px;
}

#menu-list a {
	color: orange;
	background-color: rgba(0, 0, 0, 0.57);
	margin: 2px;
	padding: 5px;
}

.informations-content {
	flex: 1;
	height: 400px;
	width: 500px;
	/* background-color: #fff; */
	opacity: 80%;
	margin: 20px;
}

.title-content {
	display: flex;
	justify-content: center;

}

.summary {
	display: flex;
	justify-content: flex-start;
	margin: 2px 5px 5px 5px;
	font-size: 14px;
	font-family: Arial;
	line-height: 20px;
	text-align: justify;
	color: #fff;
}

.timeline-content {
	display: flex;
	justify-content: center;
	
}

.timeline-list {
	margin-left: -30px;
	color: #fff;
}

button {
	width: 150px;
	height: 45px;
	background-color: salmon;
	opacity: 0.8px;
	border: 1px solid #fff;
	border-radius: 5px 5px 5px 5px;
	margin-left: 5px;
	margin-top: 10px;
}

.go-to {
	display: flex;
	justify-content: flex-start;
}


h1 {
	font-size: 21px;
	color: #fff;
}

p {
	font-size: 12px;
	color: cornflowerblue;
}


a {
	color: #fff;
	text-decoration: none;
}


img {
	width: 500px;
    height: 400px;
	background-size: auto;
	background-repeat: no-repeat;
	border-radius: 50%;
    object-fit: cover;
}


strong {
	background-color: orange;
	color: black;
	opacity: 70%;
	border: 2px solid orangered;
	margin-right: 4px;
}


ul li {
	margin-top: 5px;
	list-style-type: none;
}